<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<link href="style5.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<title>Retour de pret</title>
</head>
<body>
	<h1>Succès !!!!!</h1>

	<h3>
		Votre retour à éte bien Enregistré <br>
	
		<p>
			<a th:href="@{/Reservation}"> Vos reservation</a> <br>
			<a th:href="@{/ListeL}"> Acceuil</a>
		</p>
	</h3>
</body>
</html>