<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Reservation</title>
<link rel="stylesheet" type="text/css" href="style5.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="script.js"></script>
<link href='https://fonts.googleapis.com/css?family=Limelight'
	rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lobster'
	rel='stylesheet' type='text/css'>
</head>
<body>	
		<h3>Votre reservation a été enregistré avec succès.<br>
		   Vous pouvez allez chercher votre livre.
			Vous pouvez consulter vos reservations ici :
			<a th:href="@{/Reservation}"> Vos reservations</a>
		</h3>
</body>
</html>