<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="style.css" rel="stylesheet">
<title>Les livres de droit</title>
</head>
<body>

<section id="possibilités">
		<div class="conteneur">
			<article style="background-image: url('article-image-1.jpg')">
				<div class="pos1">
					<h4>Code civil 2020</h4>
					<p>
						<small> Collectif Etude<br> 15 exemplaires
						</small>
					</p>
					<a th:href="@{/Connexion}" class="boutton2"> Reserver</a>
				</div>
			</article>

			<article style="background-image: url('article-image-2.jpg')">
				<div class="pos1">
					<h4>Code de procedure civil 2020</h4>
					<p>
						<small> Collectif Etude<br> 15 exemplaires
						</small>
					</p>
					<a th:href="@{/Connexion}" class="boutton2"> Reserver</a>
				</div>
			</article>
			
			<article style="background-image: url('article-image-1.jpg')">
				<div class="pos1">
					<h4>Le petit paie 2019</h4>
					<p>
						<small> Jean pierre Taieb<br> 10 exemplaires
						</small>
					</p>
					<a th:href="@{/Connexion}" class="boutton2"> Reserver</a>
				</div>
			</article>

			<article style="background-image: url('article-image-2.jpg')">
				<div class="pos1">
					<h4>Code de l'urbanisme</h4>
					<p>
						<small> Collectif Etude<br> 15 exemplaires
						</small>
					</p>
					<a th:href="@{/Connexion}" class="boutton2"> Reserver</a>
				</div>
			</article>
			
			<article style="background-image: url('article-image-1.jpg')">
				<div class="pos1">
					<h4>Cours de droit des obligations</h4>
					<p>
						<small> Daniel Bert<br> 10 exemplaires
						</small>
					</p>
					<a th:href="@{/Connexion}" class="boutton2"> Reserver</a>
				</div>
			</article>

			<article style="background-image: url('article-image-2.jpg')">
				<div class="pos1">
					<h4>Les bons comptes font les bons amants</h4>
					<p>
						<small> Helloise Bolle<br> 10 exemplaires
						</small>
					</p>
					<a th:href="@{/Connexion}" class="boutton2"> Reserver</a>
				</div>
			</article>
			
			<article style="background-image: url('article-image-1.jpg')">
				<div class="pos1">
					<h4>Droit du travail 2019 - 2020</h4>
					<p>
						<small> Susana Lopez<br> 12 exemplaires
						</small>
					</p>
					<a th:href="@{/Connexion}" class="boutton2"> Reserver</a>
				</div>
			</article>

			<article style="background-image: url('article-image-2.jpg')">
				<div class="pos1">
					<h4>Deantologie de la profession d'avocat</h4>
					<p>
						<small> Revet T<br>10 exemplaires
						</small>
					</p>
					<a th:href="@{/Connexion}" class="boutton2"> Reserver</a>
				</div>
			</article>
			
			
			<div class="clear"></div>
		</div>
	</section>

</body>
</html>