<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="style.css" rel="stylesheet">
<title>Les livres d'economies</title>
</head>
<body>

<section id="possibilités">
		<div class="conteneur">
			<article style="background-image: url('article-image-1.jpg')">
				<div class="pos1">
					<h4>Changer l'Europe, c'est possible</h4>
					<p>
						<small> Manon Boujut<br> 15 exemplaires
						</small>
					</p>
					<a th:href="@{/Connexion}" class="boutton2"> Reserver</a>
				</div>
			</article>

			<article style="background-image: url('article-image-2.jpg')">
				<div class="pos1">
					<h4>Agir, 5 ans pour virer son patron</h4>
					<p>
						<small> Thami Kabbaj<br> 10 exemplaires
						</small>
					</p>
					<a th:href="@{/Connexion}" class="boutton2"> Reserver</a>
				</div>
			</article>
			
			<article style="background-image: url('article-image-1.jpg')">
				<div class="pos1">
					<h4>Microéconomie</h4>
					<p>
						<small> Franck Bien<br> 10 exemplaires
						</small>
					</p>
					<a th:href="@{/Connexion}" class="boutton2"> Reserver</a>
				</div>
			</article>

			<article style="background-image: url('article-image-2.jpg')">
				<div class="pos1">
					<h4>Code de l'urbanisme</h4>
					<p>
						<small> Collectif Etude<br> 15 exemplaires
						</small>
					</p>
					<a th:href="@{/Connexion}" class="boutton2"> Reserver</a>
				</div>
			</article>
			
			<article style="background-image: url('article-image-1.jpg')">
				<div class="pos1">
					<h4>Tout va basculer</h4>
					<p>
						<small> François Langlet<br> 10 exemplaires
						</small>
					</p>
					<a th:href="@{/Connexion}" class="boutton2"> Reserver</a>
				</div>
			</article>

			<article style="background-image: url('article-image-2.jpg')">
				<div class="pos1">
					<h4>Les bons comptes font les bons amants</h4>
					<p>
						<small> Helloise Bolle<br> 10 exemplaires
						</small>
					</p>
					<a th:href="@{/Connexion}" class="boutton2"> Reserver</a>
				</div>
			</article>
			
			<article style="background-image: url('article-image-1.jpg')">
				<div class="pos1">
					<h4>Les limites de la croissance</h4>
					<p>
						<small> Collectif Etude<br> 12 exemplaires
						</small>
					</p>
					<a th:href="@{/Connexion}" class="boutton2"> Reserver</a>
				</div>
			</article>

			<article style="background-image: url('article-image-2.jpg')">
				<div class="pos1">
					<h4>La science de la richesse</h4>
					<p>
						<small> Jacques Mistral<br>10 exemplaires
						</small>
					</p>
					<a th:href="@{/Connexion}" class="boutton2"> Reserver</a>
				</div>
			</article>
			
			
			<div class="clear"></div>
		</div>
	</section>

</body>
</html>