<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Erreur</title>
<link rel="stylesheet" type="text/css" href="style5.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="script.js"></script>
<link href='https://fonts.googleapis.com/css?family=Limelight'
	rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lobster'
	rel='stylesheet' type='text/css'>
</head>
<body>
	<h3>Attention aucune reservation ne correspond à votre entrée.</h3><br>
	<h3>Veuillez contacter votre bibliothèque ou réessayer à nouveau</h3>
	
	<h3>
	<p class="message">
	<a th:href="@{/Reservation}"> Reservation</a> 
	</p>
	</h3>
</body>
</html>