<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
        <title>Administration</title>
        <link rel="stylesheet" type="text/css" href="style6.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="script.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Limelight' rel='stylesheet' type='text/css'>
                <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
                
                

    </head>
<header>
 <h1>Horaires de votre bibliotheque</h1>
</header>

<body>

<section id="buttons-menu">
            <ul>
                <li class="button">Lundi<br>9h - 18h</li>
                <li class="button">Mardi<br>9h - 18h</li>
                <li class="button">Mercredi<br>9h - 17h</li>
                <li class="button">Jeudi<br>9h - 17h</li>
                <li class="button">Vendredi<br>9h:30 - 17:30</li>
            </ul>
        </section>
</body>
</html>