<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<link href="style5.css" rel="stylesheet"/>
<title>Formulaire d'Inscription</title>
</head>
<body>
    
    
    <div class="login-page">
		<div class="form">
			<form class="register-form" th:action="@{save}" method="POST">
				<input type="text" placeholder="nom" name="userName" th:value="${appuser.userName}"/>
				<input type="text" placeholder="prenom" name="prenom" th:value="${appuser.prenom}"/>
				<input type="text" placeholder="email" name="email" th:value="${appuser.email}"/>
				<input type="text" placeholder="mot de passe" name="encrytedPassword" th:value="${appuser.encrytedPassword}"/>
				<button>Inscription</button>
				
			</form>
		</div>
		
	</div>
</body>
</html>