<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link href="style5.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<title>Liste des reservations</title>
</head>
<body>

<h4><a th:href="@{/acceuil}">Retour</a> <a th:href="@{/AnnulerR}">Annuler</a></h4>

	<div class="container spacer">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Prenom</th>
					<th>Livre</th>
					<th>Place</th>
				</tr>
			</thead>

			<tbody>

				<tr th:each="t:${listeRetour}">
					<td th:text="${t.prenom}"></td>
					<td th:text="${t.titrelivre}"></td>
					<td th:text="${t.numero}"></td>
			</tbody>
		</table>
	</div>

</body>
</html>