<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Erreur</title>
<link rel="stylesheet" type="text/css" href="style5.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="script.js"></script>
<link href='https://fonts.googleapis.com/css?family=Limelight'
	rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lobster'
	rel='stylesheet' type='text/css'>
</head>
<body>
	<h1>Attention !!!!!</h1>
<body>
	<h3>
		Vous avez deja reservé ce livre.<br>
		Veuillez choisir un autre
		
		  
		<p>
			<a th:href="@{/reserver}"> Ici</a><br> 
			
		</p>
		<p> Où</p>
		<p>
			<a th:href="@{/acceuil}"> Consulter les livre</a><br>
			
		</p>
		
		
	</h3>
</body>
</html>