<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Erreur</title>
<link rel="stylesheet" type="text/css" href="style5.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="script.js"></script>
<link href='https://fonts.googleapis.com/css?family=Limelight'
	rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lobster'
	rel='stylesheet' type='text/css'>
</head>
<body>

	<h3>
		Cette adresse mail n'est associée à aucun compte ou n'a pas de reservation concernant ce livre<br> 
		Veuillez entrer une adresse mail valide 
		<p>
			<a th:href="@{/Prolonger}"> Ici</a>
		</p> 
	</h3>
</body>
</html>