<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="style3.css" rel="stylesheet">
<title>Liste des livres</title>
</head>
<body>

<section id="possibilités">
		<div class="conteneur">
			<article style="background-image: url('iM5.jpeg')">
				<div class="pos1">
					<h4>Roulez jeunesse</h4>
					<p>
						<small> Réalisé par Guetta, Julien.<br>
						 Metteur en scène ou réalisateur Judor, <br>
						Eric. Acteur , Calamy, Laure (1975-....)
						<br>
						</small>
					</p>
					<!--  <a href="#" class="boutton2"> Plus d'infos </a> -->
				</div>
			</article>

			<article style="background-image: url('iM1.jpg')">
				<div class="pos1">
					<h4>Jeunesse</h4>
					<p>
						<small> Pierre-Octave Ferroud (1900-1936) - Auvidis - 1999 <br>
							
						</small>
					</p>
					<!--  <a href="#" class="boutton2"> Plus d'infos </a> -->
				</div>
			</article>
			
			<article style="background-image: url('iM5.jpeg')">
				<div class="pos1">
					<h4>Sardou - Relié regard</h4>
					<p>
						<small> Bastian kossek<br> 
						</small>
					</p>
					<!--  <a href="#" class="boutton2"> Plus d'infos </a> -->
				</div>
			</article>

			<article style="background-image: url('iM1.jpg')">
				<div class="pos1">
					<h4>Rock - Broché</h4>
					<p>
						<small> Autobiographie<br>
							Jeanne Mass<br>
						</small>
					</p>
					<!--  <a href="#" class="boutton2"> Plus d'infos </a> -->
				</div>
			</article>
			
			</div>
			</section>
			
			<div class="clear"></div>
			
			<section id="parties">
		<div class="conteneur">
			<ul>
				<li id="partie1">
					<h4>Beaux livres : une sélection musicale</h4>
					<p>
						Ces icônes de la chanson nous ont marqués et émus.<br>
						 On leur rend hommage dans une sélection de beaux livres. <br>
						 Pour les amoureux de la musique et des beaux objets. <br> 
					</p>
				</li>

				<li id="partie2">
					<h4>Rencontre avec Patti Smith : juste culte !</h4>
					<p>
						L'autobiographie de Patti Smith, Just Kids<br>
						centrée autour de sa relation avec Robert Mapplethorpe,<br>
						 a acquis en quelques années le statut de livre culte.<br> 
					</p>
				</li>

				<li id="partie3">
					<h4>Prince : des livres pour lui rendre hommage</h4>
					<p>
						Prince vient de nous quitter. <br>
						S'il vit toujours à travers sa musique et les DVD de ses films, <br>
						des livres permettent également de se replonger dans son univers fantasque,<br>
						 de revivre les grands moments de sa vie,<br>
						 de se souvenir de celui qui manque déjà à tous ses fans.<br> 
					</p>
				</li>
				<div class="clear"></div>
			</ul>
		</div>
	</section>
			
			
			<section id="parties">
		<div class="conteneur">
			<ul>
				<li id="partie11">
					<h4>Au courant des nouveautés</h4>
					<p>
						cabonnez-vous à nos <br> newsletters d'informations<br>
						speciales
					</p>
				</li>

				<li id="partie22">
					<h4>Les alertes nouveautés</h4>
					<p>
						Recevez toutes les dernières<br> acquisitions du résau
						bibliothèque<br> ddirectement dans votre boite mail !
					</p>
				</li>

				<li id="partie33">
					<h4>Les alertes coup de cœur</h4>
					<p>
						recevez les coups de cœur<br> et de de nos bibliothécaires<br>
					</p>
				</li>
				<div class="clear"></div>
			</ul>
		</div>
	</section>
	
	<section id="possibilités">
		<div class="conteneur">
			<article style="background-image: url('iM10.jpeg')">
				<div class="pos1">
					<h4>Bts- les rois de la k-pop-broché</h4>
					<p>
						<small> Hernandez Cedric<br> 
						</small>
					</p>
					<!--  <a href="#" class="boutton2"> Plus d'infos </a> -->
				</div>
			</article>

			<article style="background-image: url('iM9.jpeg')">
				<div class="pos1">
					<h4>Sardou</h4>
					<p>
						<small> Regards <br>
						Bastien Kossek (Auteur), Michel Sardou<br>
						</small>
					</p>
				<!--  	<a href="#" class="boutton2"> Plus d'infos </a> -->
				</div>
			</article>
			
			<article style="background-image: url('iM8.jpeg')">
				<div class="pos1">
					<h4>Fun et megaphone</h4>
					<p>
						<small> L'emergence du punck<br> 
						</small>
					</p>
					<!--  <a href="#" class="boutton2"> Plus d'infos </a> -->
				</div>
			</article>

			<article style="background-image: url('iM7.jpeg')">
				<div class="pos1">
					<h4>Patients</h4>
					<p>
						<small> Grand corps malade<br>
						</small>
					</p>
					<!--  <a href="#" class="boutton2"> Plus d'infos </a> -->
				</div>
			</article>
			
			</div>
			</section>
			
</body>
</html>