<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Reservation supprimee</title>
<link rel="stylesheet" type="text/css" href="style5.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="script.js"></script>
<link href='https://fonts.googleapis.com/css?family=Limelight'
	rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lobster'
	rel='stylesheet' type='text/css'>
</head>
        
        <h3>Vous avez été retiré de la liste de reservation</h3>
        
       <h3> <a th:href="@{/ListeL}"> Retour</a> </h3>
        
</body>
</html>