<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<link href="style5.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<title>Liste des reservations</title>
</head>
<body>

  <div class="container spacer">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nom</th><th>Email</th> <th>Livre</th><th>Fin du pret</th><th>Code reservation</th>
			</tr>
		</thead>
		
		<tbody>
	
	  
			<tr th:each="t:${prets}">
			<td th:text="${t.nomutilisateur}"></td>
			<td th:text="${t.email}"></td>
			<td th:text="${t.titrelivre}"></td>
			<td th:text="${t.datefin}"></td>
			<td th:text="${t.code}"></td>
			
		   
            <td>
              	<a th:href="@{/Retour}">Retour de pret</a> 
            </td>
			</tr>
			
			
		</tbody>
    </table>
    
  </div>
	
</body>
</html>