<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="style.css" rel="stylesheet">
<title>Les livres de science</title>
</head>
<body>

<section id="possibilités">
		<div class="conteneur">
			<article style="background-image: url('article-image-1.jpg')">
				<div class="pos1">
					<h4>L'univers à portée de main</h4>
					<p>
						<small> Christophe Galfard<br> Eva Roques
							<br> 14 exemplaires
						</small>
					</p>
					<a th:href="@{/Connexion}" class="boutton2"> Reserver</a>
				</div>
			</article>

			<article style="background-image: url('article-image-2.jpg')">
				<div class="pos1">
					<h4>Vertige du cosmos</h4>
					<p>
						<small> Trinx Xuam Thuam<br>
							10 exemplaires
						</small>
					</p>
					<a th:href="@{/Connexion}" class="boutton2"> Reserver</a>
				</div>
			</article>
			
			<article style="background-image: url('article-image-1.jpg')">
				<div class="pos1">
					<h4>Liberez votre cerveau</h4>
					<p>
						<small> Idriss J Aberkane<br> Serge Tisseron
						    <br>7 exemplaires
						</small>
					</p>
					<a th:href="@{/Connexion}" class="boutton2"> Reserver</a>
				</div>
			</article>

			<article style="background-image: url('article-image-2.jpg')">
				<div class="pos1">
					<h4>Tesla L'eclaire du genie</h4>
					<p>
						<small> Massimo Teodorani<br> le
							15 exemplaires<br>
						</small>
					</p>
				<a th:href="@{/Connexion}" class="boutton2"> Reserver</a>
				</div>
			</article>
			
			<article style="background-image: url('article-image-1.jpg')">
				<div class="pos1">
					<h4>Un autre regard sur le climat</h4>
					<p>
						<small> Emma<br> v
							10 exemplaires
						</small>
					</p>
					<a th:href="@{/Connexion}" class="boutton2"> Reserver</a>
				</div>
			</article>

			<article style="background-image: url('article-image-2.jpg')">
				<div class="pos1">
					<h4>E=mc2 L'equation de tous les possibles</h4>
					<p>
						<small> Cristophe Galfard<br>
							Eva roque<br>15 exemplaires
						</small>
					</p>
					<a th:href="@{/Connexion}" class="boutton2"> Reserver</a>
				</div>
			</article>
			
			<article style="background-image: url('article-image-1.jpg')">
				<div class="pos1">
					<h4>Deux dégres.Ce qu'ils impliquent</h4>
					<p>
						<small> Zaccai Edwwin<br>
							5 exemplaires
						</small>
					</p>
					<a th:href="@{/Connexion}" class="boutton2"> Reserver</a>
				</div>
			</article>

			<article style="background-image: url('article-image-2.jpg')">
				<div class="pos1">
					<h4>Infravies, le vivant sans frontière</h4>
					<p>
						<small> Thomas Helmans<br> 10 exemplaires
						</small>
					</p>
					<a th:href="@{/Connexion}" class="boutton2"> Reserver</a>
				</div>
			</article>
			
			<article style="background-image: url('article-image-1.jpg')">
				<div class="pos1">
					<h4>Singe toi meme</h4>
					<p>
						<small> Alain prochiantz<br> 8 exemplaires
						</small>
					</p>
					<a th:href="@{/Connexion}" class="boutton2"> Reserver</a>
				</div>
			</article>

			<article style="background-image: url('article-image-2.jpg')">
				<div class="pos1">
					<h4>Les bugs humains</h4>
					<p>
						<small> Sebastien Bohler<br> 12 exemplaires
						</small>
					</p>
					<a th:href="@{/Connexion}" class="boutton2"> Reserver</a>
				</div>
			</article>
			
			<article style="background-image: url('article-image-1.jpg')">
				<div class="pos1">
					<h4>Les origines de la géometrie</h4>
					<p>
						<small> Michel Serres<br> 10 exemplaires
						</small>
					</p>
					<a th:href="@{/Connexion}" class="boutton2"> Reserver</a>
				</div>
			</article>

			<article style="background-image: url('article-image-2.jpg')">
				<div class="pos1">
					<h4>Quand le cerveau devient masculin</h4>
					<p>
						<small> Jacques Balthazard<br> le
							8 exemplaires
						</small>
					</p>
					<a th:href="@{/Connexion}" class="boutton2"> Reserver</a>
				</div>
			</article>
			
			<article style="background-image: url('article-image-1.jpg')">
				<div class="pos1">
					<h4>L'age des low tech</h4>
					<p>
						<small> Phillipe Bihoux<br> 8 exemplaires
						</small>
					</p>
					<a th:href="@{/Connexion}" class="boutton2"> Reserver</a>
				</div>
			</article>

			<article style="background-image: url('article-image-2.jpg')">
				<div class="pos1">
					<h4>Comprendre l'intelligence artificielle</h4>
					<p>
						<small> Nicolas Sabouret<br>
							15 exemplaires
						</small>
					</p>
					<a th:href="@{/Connexion}" class="boutton2"> Reserver</a>
				</div>
			</article>
			
			<article style="background-image: url('article-image-1.jpg')">
				<div class="pos1">
					<h4>Botaniste</h4>
					<p>
						<small> Marc Jeanson<br> 10 exemplaires
						</small>
					</p>
					<a th:href="@{/Connexion}" class="boutton2"> Reserver</a>
				</div>
			</article>

			<article style="background-image: url('article-image-2.jpg')">
				<div class="pos1">
					<h4>La guerre des intelligences</h4>
					<p>
						<small> Laurent Allexandre<br>
							10 exemplaires
						</small>
					</p>
					<a th:href="@{/Connexion}" class="boutton2"> Reserver</a>
				</div>
			</article>
			
			<div class="clear"></div>
		</div>
	</section>

</body>
</html>