<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="style4.css" rel="stylesheet">
<title>Liste des livres</title>
</head>
<body>

<section id="possibilités">
		<div class="conteneur">
			<article style="background-image: url('IM7.jpg')">
				<div class="pos1">
					<h4>Le livre d'or de la coupe du monde</h4>
					<p>
						<small>e Gérard EJNES (Auteur)<br>
						</small>
					</p>
					<!--  <a href="#" class="boutton2"> Plus d'infos </a> -->
				</div>
			</article>

			<article style="background-image: url('IM3.jpeg')">
				<div class="pos1">
					<h4>Yoga « Mon programme souplesse et vitalité »</h4>
					<p>
						<small> Broché – 10 mai 2017<br>
							Bakary Sissako<br>
						</small>
					</p>
					<!--  <a href="#" class="boutton2"> Plus d'infos </a> -->
				</div>
			</article>
			
			<article style="background-image: url('IM8.jpg')">
				<div class="pos1">
					<h4> L'art de la victoire </h4>
					<p>
						<small> - Autobiographie du fondateur de NIKE<br>
							<br>
						</small>
					</p>
					<!--  <a href="#" class="boutton2"> Plus d'infos </a> -->
				</div>
			</article>

			<article style="background-image: url('IM4.jpeg')">
				<div class="pos1">
					<h4>Les pourquoi du sport</h4>
					<p>
						<small> de Philippe Vandel | 25 octobre 2017<br>
							
						</small>
					</p>
					<!--  <a href="#" class="boutton2"> Plus d'infos </a> -->
				</div>
			</article>
			
			</div>
			</section>
			
			<div class="clear"></div>
			
			<section id="parties">
		<div class="conteneur">
			<ul>
				<li id="partie1">
					<h4>S'INSCRIRE EN BIBLIOTHÈQUE</h4>
					<p>
						S'inscrire en bibliothèque de prêt ou en bibliothèque spécialisée <br>
						et patrimoniale permet non seulement d'emprunter <br>
						des documents mais ouvre également le droit <br>
						à de nombreux services et avantages. Toutes les infos.
					</p>
				</li>

				<li id="partie2">
					<h4>DES BIBLIOTHÈQUES ACCESSIBLESs</h4>
					<p>
						Accessibilité renforcée, collections dédiées <br>
						 les bibliothèques sont ouvertes à tous.<br> 
						
					</p>
				</li>

				<li id="partie3">
					<h4>VOTRE COMPTE : MODE D'EMPLOI</h4>
					<p>
						Vous avez des difficultés à vous connecter <br>
						à votre compte usager et découvrir toutes <br>
						les fonctionnalités qui lui sont liées ? <br>
						Découvrez ici les réponses à vos questions.<br>
					</p>
				</li>
				<div class="clear"></div>
			</ul>
		</div>
	</section>
			
			
			<section id="parties">
		<div class="conteneur">
			<ul>
				<li id="partie11">
					<h4>APPRENDRE EN LIGNE</h4>
					<p>
						Si vous souhaitez vous former et développer de nouveaux domaines de compétences,<br>
						 les bibliothèques de la Ville de Paris expérimentent <br>
						 un nouveau service de formations et de soutien scolaire, <br>
						 à suivre en vidéo, en bibliothèque ou même depuis chez vous ! <br>
						
					</p>
				</li>

				<li id="partie22">
					<h4>Les alertes nouveautés</h4>
					<p>
						Recevez toutes les dernières<br> acquisitions du résau
						bibliothèque<br> ddirectement dans votre boite mail !
					</p>
				</li>

				<li id="partie33">
					<h4>Les alertes coup de cœur</h4>
					<p>
						recevez les coups de cœur<br> et de de nos bibliothécaires<br>
					</p>
				</li>
				<div class="clear"></div>
			</ul>
		</div>
	</section>
	
	<section id="possibilités">
		<div class="conteneur">
			<article style="background-image: url('iM10.jpeg')">
				<div class="pos1">
					<h4>Médecine du sport pour le praticien</h4>
					<p>
						<small> de Pierre Rochcongar , Daniel Rivière <br>
						6 novembre 2013e<br> 
						</small>
					</p>
					<!--  <a href="#" class="boutton2"> Plus d'infos </a> -->
				</div>
			</article>

			<article style="background-image: url('iM9.jpeg')">
				<div class="pos1">
					<h4>Le gainage pour le sportif</h4>
					<p>
						<small> de Bruno Parietti , Olivier Maurelli , et al.<br>
						 26 janvier 2017<br> le
							
						</small>
					</p>
				<!--  	<a href="#" class="boutton2"> Plus d'infos </a> -->
				</div>
			</article>
			
			<article style="background-image: url('iM8.jpeg')">
				<div class="pos1">
					<h4>Les Fabuleuses aventures d'Aurore- tome 01</h4>
					<p>
						<small> de Douglas KENNEDY (Auteur), <br>
						Joann SFAR (Illustrations)<br>
						</small>
					</p>
					<!--  <a href="#" class="boutton2"> Plus d'infos </a> -->
				</div>
			</article>

			<article style="background-image: url('iM7.jpeg')">
				<div class="pos1">
					<h4>Renault Sport Cars</h4>
					<p>
						<small> de Jean-Luc Fournier  | 30 mai 2018<br>
							
						</small>
					</p>
					<!--  <a href="#" class="boutton2"> Plus d'infos </a> -->
				</div>
			</article>
			
			</div>
			</section>
			
			<div class="clear"></div>
			
			<section id="parties">
		<div class="conteneur">
			<ul>
				<li id="partie1">
					<h4>Au courant des nouveautés</h4>
					<p>
						cabonnez-vous à nos <br> newsletters d'informations<br>
						speciales
					</p>
				</li>

				<li id="partie2">
					<h4>Les alertes nouveautés</h4>
					<p>
						Recevez toutes les dernières<br> acquisitions du résau
						bibliothèque<br> ddirectement dans votre boite mail !
					</p>
				</li>

				<li id="partie3">
					<h4>DES BIBLIOTHÈQUES ACCESSIBLES</h4>
					<p>
						Accessibilité renforcée, collections dédiées<br>
						 les bibliothèques sont ouvertes à tous.<br>
					</p>
				</li>
				<div class="clear"></div>
			</ul>
		</div>
	</section>
			
			
</body>
</html>